# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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



# Get your Financial Datasets API Key here: https://financialdatasets.ai/
FINANCIAL_DATASETS_API_KEY=e9b8cd42-d1d6-4f20-ac99-c1699fbfeb39


# Get your LangSmith API Key here: https://smith.langchain.com/
LANGCHAIN_API_KEY=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
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=ai-financial-agent

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=Gk/g8A1cju5KS3SlxcKRC6n1F8n2pf8vpkFVCJieaGs=

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_54phaJds1vaKWZGC_DruzYpJcpcqwDe1E0cW2DEHwMgwdgV"

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=postgres://neondb_owner:npg_ryjgKlWI7h5M@ep-bold-base-abv5wkn6-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require

